@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.google-map * {
  border-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

html,
body {
  @apply relative h-screen;
}

@layer base {
  h2 {
    @apply text-bgPurple font-serif font-semibold text-center text-2xl tracking-wider pb-3;
  }

  h3 {
    @apply font-medium text-3xl tablet:text-2xl font-serif font-bold  duration-500 mb-2;
  }

  h5 {
    @apply text-xs desktop:text-sm;
  }

  p {
    @apply text-xs leading-6 tablet:leading-5 text-justify font-serif laptop:text-sm laptop:leading-6 desktop:leading-7;
  }
}

/*----------- DARK-MODE ----------*/
.dark-color {
  @apply dark:bg-[#080F22];
}

.section-container {
  @apply container  mx-auto max-w-sm sm:max-w-md tablet:max-w-3xl laptop:max-w-5xl desktop:max-w-6xl biggest:max-w-7xl;
}

/*----------- IMAGES ----------*/
.grid-container {
  @apply tablet:gap-2 tablet:space-x-1 laptop:space-x-0 tablet:grid-cols-2 tablet:grid tablet:px-2 laptop:grid-cols-4 mx-auto tablet:max-w-2xl laptop:p-12 laptop:max-w-5xl desktop:max-w-6xl biggest:max-w-7xl flex flex-row laptop:px-12 desktop:px-16 w-[2500px] h-[460px] sm:h-[550px] sm:w-[2600px] tablet:w-full tablet:h-full tablet:static absolute z-30 space-x-3 duration-100 cursor-grabbing;
}

.image-container {
  @apply w-full h-[390px] sm:h-[420px] laptop:h-full laptop:w-full rounded-tl-3xl rounded-br-3xl cursor-grabbing;
}

.image {
  @apply object-cover w-full h-full tablet:hover:scale-125 duration-1000 cursor-grabbing rounded-tl-3xl rounded-br-3xl;
}

/*----------- DRAG & IMAGE-OVERLAY ----------*/
/* DRAG-HEADER */
.drag-header {
  @apply w-full box-border flex items-center justify-between fixed z-30 top-5 py-2  opacity-0;
}

.close {
  @apply dark:text-white text-3xl font-semibold flex items-center absolute right-0 h-2 w-32 justify-center;
}

.background {
  @apply fixed h-screen w-full bg-slate-900 opacity-10 dark:bg-slate-800 top-0 left-0 bottom-0 z-30 opacity-100 will-change-transform tablet:hidden;
}

/* PROGRESS */
.drag-progress-background {
  @apply w-full h-[2px] relative tablet:hidden dark:bg-slate-800 z-30;
}

.drag-progress {
  @apply w-0 h-[1px] bg-slate-400 absolute z-30 right-0 tablet:hidden dark:bg-slate-400;
}

.quotations {
  @apply inline absolute bottom-3;
}

.change-transitions {
  @apply transition  duration-500 ease-in-out;
}

.about-gif {
  @apply h-8 w-8 tablet:w-5 tablet:h-5 tablet:hidden;
}

.about-span {
  @apply font-bold opacity-100;
}

.button {
  @apply py-2 px-4 text-[11px]  font-serif border hover:scale-105 laptop:px-10 laptop:py-3 flex items-center justify-center border-none;
}

/*----------- GOOGLE MAP  ----------*/
.gradient-bottom {
  @apply bg-gradient-to-b from-transparent to-white dark:to-darkMode;
}

.gradient-right {
  @apply bg-gradient-to-r from-transparent to-white dark:to-darkMode;
}

.gradient-left {
  @apply bg-gradient-to-l from-transparent to-white dark:to-darkMode;
}

.gradient-top {
  @apply bg-gradient-to-t from-transparent to-white dark:to-darkMode;
}

.btn-primary {
  @apply text-xs rounded-sm text-black shadow px-12 py-2 shadow-3xl cursor-pointer border-slate-400 bg-gradient-to-r from-[#E34CCE] to-[#E39B57] duration-500 border-none disabled:opacity-75 rounded-tr-3xl rounded-bl-3xl transition duration-300 delay-150;
}

.btn-secondary {
  @apply text-xs rounded-sm text-white shadow px-12 py-2 shadow-3xl cursor-pointer border-slate-400 bg-gradient-to-r from-[#E34CCE] to-[#E39B57] duration-500 border-none disabled:opacity-30 rounded-tr-3xl rounded-bl-3xl transition duration-1000 delay-150;
}

.btn-gradient {
  @apply text-xs rounded-sm text-white shadow px-12 py-2 shadow-3xl cursor-pointer border-slate-400 bg-gradient-to-r from-[#E34CCE] to-[#E39B57] duration-500 border-none opacity-100 rounded-tr-3xl rounded-bl-3xl animate-border inline-block bg-white from-purple-500 via-pink-500 to-orange-500 bg-[length:400%_400%] p-0.5 hover:bg-gradient-to-r transition duration-1000 delay-150;
}

/*---------------- TESTIMONIALS ------------*/
.testimonial-container {
  @apply w-full h-[350px] tablet:overflow-hidden mx-auto mb-6 sm:h-[450px] sm:mb-6 tablet:w-[270px] tablet:h-[360px] tablet:ml-12 tablet:mb-2 laptop:w-[330px] laptop:ml-6 laptop:h-[430px] desktop:h-[460px] desktop:ml-4 desktop:w-[360px] biggest:h-[490px];
}

.testimonial-carousel {
  @apply h-full w-full overflow-hidden  flex justify-start flex-col ml-4 sm:ml-0 sm:pt-5 sm:mb-2 tablet:h-[330px] tablet:w-[280px] tablet:ml-0 tablet:mb-0 tablet:pt-4 laptop:w-[340px] laptop:pt-2 laptop:h-[400px] desktop:pt-5 desktop:w-[360px] desktop:h-[430px] laptop:pl-14 desktop:pl-6 desktop:mb-2 biggest:pt-5;
}

.testimonial-slider {
  @apply h-full w-[390%] flex relative items-center transition duration-1000 delay-300 ease-linear shrink-0 items-center justify-center space-x-8 ml-2 sm:-ml-5  pl-4 tablet:pl-0 laptop:ml-0 desktop:space-x-20  desktop:pl-32 transition duration-1000 delay-150;
}

.slider-section {
  @apply basis-1/4 w-3/12 shrink-0 flex-1;
}

/*---------------- FORM ------------*/
.form-input-title {
  @apply text-[10px] dark:text-slate-100 opacity-60 pl-0;
}

.form-input {
  @apply block w-full px-2 py-0 pb-1 text-xs bg-white border rounded-sm  focus:outline-none dark-color dark:border-b-slate-800 text-slate-700 dark:text-slate-200 border-b-slate-300 border-l-transparent border-t-transparent border-r-transparent pl-0 focus:border-blue-400 focus:border-t-transparent  dark:focus:border-b-indigo-700 focus:border-r-transparent focus:border-l-transparent;
}

/*-------------- FOOTER -------------*/
.footer-border {
  @apply w-12 border-b-[2px] border-b-gray-200 mb-2 dark:border-b-gray-300;
}

.inner-footer {
  @apply text-center py-8 tablet:py-14;
}

.footer-subheader {
  @apply text-xl mb-6 opacity-80 tracking-wider tablet:mb-6 tablet:text-sm tablet:text-base laptop:text-xl laptop:space-y-4;
}

.footer-subcontainer {
  @apply space-y-4 flex flex-col opacity-70 py-3 tablet:space-y-3;
}

.footer-link {
  @apply text-[10px] tablet:text-[11px];
}
