@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  h2 {
    @apply text-bgPurple font-serif font-semibold text-center text-2xl tracking-wider pb-3;
  }

  h3 {
    @apply font-medium text-2xl tablet:text-3xl font-serif   font-bold opacity-90 duration-500;
  }

  h4 {
    @apply font-bold text-xl  laptop:text-base desktop:text-xl text-sm;
  }

  h5 {
    @apply text-xs opacity-50 sm:text-[10px] desktop:text-sm;
  }

  p {
    @apply text-xs leading-6 tablet:leading-5 font-sans text-justify font-serif laptop:text-sm laptop:leading-6 opacity-70 desktop:leading-7;
  }
}

.section-container {
  @apply container  mx-auto max-w-sm sm:max-w-md tablet:max-w-3xl laptop:max-w-5xl desktop:max-w-6xl biggest:max-w-7xl;
}

.grid-container {
  @apply grid gap-2 tablet:grid-cols-2 laptop:grid-cols-4 sm:max-w-lg mx-auto tablet:max-w-2xl laptop:p-12 laptop:max-w-5xl desktop:max-w-6xl biggest:max-w-7xl;
}

.image {
  @apply tablet:object-cover w-full h-full hover:cursor-pointer rounded-lg shadow-lg;
}

.quotations {
  @apply inline absolute bottom-3;
}

.footer-border {
  @apply w-12 border-b-[2px] border-b-gray-900 opacity-50 mb-2 opacity-30;
}

.change-transitions {
  @apply transition  duration-500 ease-in-out;
}

.about-gif {
  @apply h-8 w-8 tablet:w-5 tablet:h-5 tablet:hidden;
}

.about-span {
  @apply font-bold opacity-100;
}

.footer-links {
  @apply space-y-5;
}

.footer-subheading {
  @apply text-lg;
}

.button {
  @apply py-2 px-6 text-[11px] font-medium font-serif border  hover:scale-105 laptop:px-12 laptop:py-3 flex items-center justify-center border-none;
}

.gradient-bottom {
  @apply bg-gradient-to-b from-transparent to-white;
}

.gradient-right {
  @apply bg-gradient-to-r from-transparent to-white;
}

.gradient-left {
  @apply bg-gradient-to-l from-transparent to-white;
}

.gradient-top {
  @apply bg-gradient-to-t from-transparent to-white;
}